<ion-view view-title="Community">
  <ion-content>
    <ul>
      <li ng-repeat="package in community_packages">
        <div class="card">
          <div class="item item-divider">
            {{ package.title}}
            <br>
          </div>
          <div class="item item-text-wrap">
            {{ package.description}}
            <br>
            {{ package.categories }}
            <br>
            <a ng-href="{{ package.link }}" onclick="window.open(this.href, '_blank'); return false;">
              More details
            </a>
            </a>
          </div>
        </div>

      </li>
    </ul>

  </ion-content>
</ion-view>
